@font-face {
  font-family: "Monteserrat";
  src: url("./Assets/Fonts/Montserrat-Regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Monteserrat";
  src: url("./Assets/Fonts/Montserrat-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Monteserrat";
  src: url("./Assets/Fonts/Montserrat-Light.ttf");
  font-weight: lighter;
}

:root {
  --PrimaryColor: ;
}
body {
  padding: 0;
  margin: 0;
  font-family: "Monteserrat", sans-serif;
  font-weight: normal;
}
